*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // defines 1 rem; (aka 62.5% * 16px = 10px)
  // aka 10px/16px = 62.5%
  font-size: 62.5%; // defines 1 rem; (aka 62.5% * 16px = 10px)

  // @include respond(phone) {
  //   font-size: 50%;
  // }
  @include respond(tab-land) {
    // width < 1200
    // we want 9px font-size
    // aka 9/16px = 50%;
    font-size: 56.25%; // 1 rem = 9px;
  }

  @include respond(tab-port) {
    // width < 900
    // 8/16px = 50%;
    font-size: 50%; // 1 rem = 8px
  }

  @include respond(phone) {
    // width < 600
    font-size: 30%; // 1 rem = 4.8px
  }
  @include respond(big-desktop) {
    // > 1200
    // 12/16px = 75%
    font-size: 75%; // 1 rem = 12px
  }
}

body {
  padding: 3rem;
  box-sizing: border-box;
  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
